html {
    font-family: 'Courier New', monospace;
    background-color: white;
    z-index: 1;
    margin: auto;
    height: 200%;
}

.header {
    background-color: #1f2833;
    text-align: center;
    padding: 20px;
    font-size: 150%;
    color: #66fcf1;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    color: #1f2833;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #66fcf1;
    color: #1f2833;
}


.content {
    max-width: 1200px;
    margin: auto;
    padding: 100px;
}

#center {
    width: 85%;
    height: auto;
    background-color: #FFFFFF;
    opacity: 1;
    margin-left: -42.5%;
    top: -5%;
    left: 50%;
    position: relative;
    z-index: 2;
    color: black;
    overflow: visible
}

#image1 {
    position: relative;
    left: 500px;
    top: 35px;
}

#image2 {
    position: relative;
    left: 500px;
    top: 125px;
}

#image3 {
    position: relative;
    left: 500px;
    top: 220px;
}

#image4 {
    position: relative;
    left: 500px;
    top: 370px;
}

#rcorners1 {
  
    border: 10px solid transparent;
    padding: 10px; 
    width: 750px;
    height: 160px; 
    border-radius: 25px;
    position: relative;
    left: 650px;
    bottom: 450px;
    text-align:justify;
    line-height: 120%;
    font-size: 150%;

  }  #rcorners2 {
  
    border: 10px solid transparent;
    padding: 10px; 
    width: 750px;
    height: 160px; 
    border-radius: 25px;
    position: relative;
    left: 650px;
    bottom: 450px;
    text-align:justify;
    line-height: 120%;
    font-size: 150%;

  }  #rcorners3 {
  
    border: 10px solid transparent;
    padding: 10px; 
    width: 750px;
    height: 160px; 
    border-radius: 25px;
    position: relative;
    left: 650px;
    bottom: 500px;
    text-align:justify;
    line-height: 120%;
    font-size: 150%;
  }  #rcorners4 {
  
    border: 10px solid transparent;
    padding: 10px; 
    width: 750px;
    height: 160px; 
    border-radius: 25px;
    position: relative;
    left: 650px;
    bottom: 500px;
    text-align:justify;
    line-height: 120%;
    font-size: 150%;
  }


  

  #contacttitle {
      text-align: center;
      line-height: 100%;
  }

  #contact {
  
    border: 10px solid #66fcf1;
    padding: 10px; 
    width: 700px;
    height: 510px; 
    border-radius: 25px;
    position: relative;
    left: 570px;
    bottom: 350px;
    text-align:left;
    line-height: 250%;
    font-size: 12px;
  }


    footer {
    
        position: absolute;
        bottom: -230%;
        width: 100%;
        
}

footer li {
    list-style-type: none;
    float: left;
    margin-right: 50px;
    color: grey;
}
