html {
    font-family: Verdana, sans-serif;
    background-color: white;
    z-index: 1;
    margin: auto;
    height: 200%;
}

.header {
    background-color: #1f2833;
    text-align: center;
    padding: 20px;
    font-size: 150%;
    color: #66fcf1;

}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    color: #1f2833;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 18px;
    font-family:  "Lucida Console", "Courier New", monospace;
 
   
}

.topnav a:hover {
    background-color: #66fcf1;
    color: #1f2833;
}

#image1 {
    display: block;
    margin: auto;
    width: 800px; 
    height: 100px;
}


.content {
    max-width: 900px;
    margin: auto;
    padding: 100px;
    position: center;
  
     
    }

    .content1 {

        
            margin: 100px 0;
          
    }




#center {
    width: 85%;
    height: auto;
    background-color: white;
    opacity: 1;
    margin-left: -42.5%;
    top: -5%;
    left: 50%;
    position: relative;
    z-index: 2;
    color: black;
    overflow: visible
}





  #contacttitle {
      text-align: center;
      line-height: 100%;
  }

  #contact {
  
    border: 10px solid #66fcf1;
    padding: 10px; 
    width: 500px;
    height: 600px; 
    border-radius: 25px;
    text-align:left;
    line-height: 250%;
    font-size: 12px;
    position: center;
    margin: auto;


  }


  .footer {
    position: relative;
    color: gray;
    text-align: left;
font-size: 12px;
 }
